@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

body {
    font-family: Segoe UI, Verdana, Geneva, sans-serif;
    color: #3a3a3a;
}

h1,h2 {
    color: #137080;
}

h3,h4,h5,h6 {
    color: #084e58;
}

.title, #toctitle {
    color: #137080 !important;
}

a, a:hover, a:focus {
    color: #084e58;
}

#toc.toc2 {
    background-color: #f9f9f9;
}

.icon-note::before {
    color: #99cc33 !important;
}

.icon-warning::before {
    color: #ee701e !important;
}

.icon-caution::before {
    color: #812313 !important;
}

.icon-tip::before {
    color: #3a3a3a !important;
}

#footer {
    color: #3a3a3a;
}